<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Composeapp</title>
	<link rel="icon" href="/static/images/logo.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/static/stylesheets/materialize.min.css">
	<style>
		.collection-item:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="section"></div>
		<div class="section"></div>
		<div id="detail_section">
			<div class="row">
				<div class="col s12">
					<h5><b>Applications Detail</b></h5>
				</div>
			</div>
			<div class="row" id="app_detail">

			</div>
		</div>
	</div>
</body>
<script src="/static/javascripts/{{ script }}.dist.js"></script>
</html>