<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Composeapp</title>
	<link rel="icon" href="/static/images/logo.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/static/stylesheets/materialize.min.css">
	<style>
		.collection-item:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="section"></div>
		<div class="section"></div>
		<div id="detail_section">
			<div class="row">
				<div class="col s12">
					<h5><b><a href="/app/home" class="black-text">Home / </a> <span id="app_name"></span></b></h5>
				</div>
			</div>
			<div class="row" id="app_action">
				<div class="col s12">
					<a class="btn btn-small modal-trigger" id="build_app" data-target="build_progress_modal">
						<i class="material-icons left">build</i>
						build now
					</a>
					<a class="btn btn-small red lighten-2 right">
						<i class="material-icons left">delete</i>
						delete
					</a>
				</div>
			</div>
			<div class="row" id="app_detail">
				<div class="col s12">
					<h6><b>Detail</b></h6>
				</div>
				<div class="col s12">
					<ul class="collection" id="app_parameters">

					</ul>
				</div>
				<div class="col s12">
					<h6><b>Build histories</b></h6>
				</div>
				<div class="col s12">
					<ul class="collection" id="build_histories">

					</ul>
				</div>
			</div>
			<div class="modal" id="build_progress_modal" style="max-width: 400px;">
				<div class="modal-content">
					<div class="progress" id="build_progress">
						<div class="indeterminate"></div>
					</div>
					<div id="build_status" style="display: none">
						<div id="build_code"></div>
						<div>
							<pre id="build_output" style="word-wrap: break-word; white-space: pre-wrap;">

							</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/static/javascripts/{{ script }}.dist.js"></script>
</html>