<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Composeapp</title>
	<link rel="icon" href="/static/images/logo.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/static/stylesheets/materialize.min.css">
</head>
<body>
	<div class="container">
		<div class="section"></div>
		<div class="section"></div>
		<div class="section"></div>
		<div class="row">
			<div class="col s12">
				<a class="btn blue lighten-1 waves-effect waves-light">
					<i class="material-icons left">add</i>
					new app
				</a>
			</div>
		</div>
	</div>
</body>
<script src="/static/javascripts/{{ script }}.dist.js"></script>
</html>